<html>
    <head>
        <title>Web Escuela de Emprendimiento</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Web Escuela de Emprendimiento</a></h1>
        </div>
        {% for producto in producto %}
        <div>
          <p>{{ producto.created_date }}</p>
          <h1><a href = "">{{ producto.nombre }} </a></h1>
          <p>{{ producto.costo_real }}</p>
          <p>{{ producto.tienda }}</p>
          <p>{{ producto.notas|linebreaksbr }}</p>
        </div>
        {% endfor %}
    </body>
</html>
